@use "../../constants";

.step-container {
  display: flex;
  gap: 1rem;
  justify-content: center;

  .step {
    border: 0.25rem solid transparent;
    background-color: constants.$secondary-colour;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    height: 2.5rem;
    width: 3.5rem;
    font-size: 1.25rem;

    &.current {
      background-color: constants.$primary-colour;
      color: constants.$background-colour;
    }

    &.complete {
      border: 0.25rem solid constants.$accent-colour;
    }
  }
}

@media (min-width: 300px) {
  .step {
  }
}
