.navigation-container {
  height: 3rem;
  display: flex;
  justify-content: space-between;

  .nav-button {
    width: 8rem;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.25rem;

    &:hover:enabled {
      font-size: 1.75rem;
    }
  }
}
