.current-configuration-container {
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  place-items: center;

  .builder-option {
    flex-basis: 8rem;
    font-size: 5rem;
  }
}
