@use "./constants";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .app-container {
    > div {
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      border: 0.25rem solid constants.$secondary-colour;
      box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.8);
    }
  }
}

button {
  color: constants.$primary-colour;
  background-color: constants.$secondary-colour;
  border: 0.25rem solid;
  border-color: transparent;
  transition: background-color 0.1s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out, padding-bottom 0.15s ease-in-out,
    font-size 0.1s ease-in-out;

  &:hover:enabled {
    background-color: constants.$primary-colour;
    color: constants.$background-colour;
    cursor: pointer;
  }

  &:hover:disabled {
    cursor: not-allowed;
  }

  &:disabled {
    opacity: 0.5;
  }
}
